.side {
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap1);
}

.sideBarMenu {
    width: 100%;
    height:  var(--sizeHeight2);
    box-shadow:  7px 7px 14px var(--shaddow1),
    -7px -7px 14px var(--shaddow2);
}

.sideBarContainer {
    width: 100%;
    height: calc(100% - var(--sizeHeight2));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    box-shadow:  7px 7px 14px var(--shaddow1),
    -7px -7px 14px var(--shaddow2);
}

@media screen and (max-width: 500px) {
    .side {
      display: none;
    }
}