.chatBox {
    display: flex;
    flex-direction: column;
    gap:2%;
    width: 100%;
    height: var(--boxHeightBody);
}

.chat {
    width: 100%;
    height: 88%;
    overflow-y: scroll;
    padding-bottom: 20px;
    background-color: rgb(104, 94, 121);
}

.inputBox {
    display: flex;
    gap: 2%;
    width: 100%;
    height: 10%;
}

.inputBox input {
    width: 85%;
    height: 100%;
}

.inputBox button {
    width: 13%;
    height: 100%;
    background-color: rgb(41, 23, 129) !important;
}