.chatHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: var(--boxHeightHeader);
    padding: 20px;
    gap: 10px;
}

.chatHeader .myImage{
    width: 60px;
    height: 60px;
    background-color:rgb(40, 40, 40) ;
    border-radius: 50%;
    box-shadow:  6px 6px 22px #2d2d2d,
    -6px -6px 22px #3c3c3c !important;
}

.chatHeader .myInfo {
    color: #c4c4c4 !important;
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.chatHeader .myImage {
    color: #fff !important;
}

.myInfo span {
    text-align: end;
}