* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: sans-serif;
  color: var(--fontColor);
}

:root {
  --size1: 100px;
  --sizeHeight2: 70px;
  --gap1: 50px;
  --borderBox: 15px;
  --background: #756198;
  --shaddow1: #635281;
  --shaddow2: #8770af;
  --fontColor: rgb(232, 231, 234);
  --fontColor2: rgb(196, 196, 196);
}


#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 2px;
}