@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background) !important;
  /*font-family: sans-serif !important;*/
  /*color: var(--fontColor) !important;*/
  font-family: "Press Start 2P", system-ui;
}

:root {
  --size1: 100px;
  --sizeHeight2: 70px;
  --gap1: 50px;
  --borderBox: 15px;
  --background: #f0f0f0;
  --shaddow1: #c7c7c7;
  --shaddow2: #ffffff;
  --fontColor: rgb(44, 44, 44);
  --fontColor2: rgb(196, 196, 196);
}


#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 2px;
}