@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background) !important;
  font-family: "Press Start 2P", system-ui;
}

:root {
  --boxHeightHeader: 15%;
  --boxGap: 5%;
  --boxHeightBody: 80%;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}

input {
  color: #d9d9d9 !important;
}

::-webkit-scrollbar {
  width: 2px;
}
